.App {
  min-height: 100vh;
  min-width: 100vw;
  background: #0079bf;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
}

.App-header h1 {
  color: #f6f6f6;
  font-size: 20px;
  padding: 0 0 10px 14px;
}

.App-list {
  display: flex;
}